body {
    background-color: #252525;
    overflow-x: hidden;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cell {
    margin: 0;
    padding: 0;
    position: relative;
    width: 90%;
    display: block;
    max-width: 400px;
}

.image {
    width: 300px; 
    height: 169px;
    border-radius: 12%;
    filter: blur(0px) brightness(1);
    transition-timing-function: ease-in-out;
    transition: 0.5s;
    z-index: 0;
    position: relative;
}

.imageClicked {
    filter: blur(5px) brightness(0.5);
    transition-timing-function: ease-in-out;
    transition: 0.5s;
}

.overlay-text {
    transition-timing-function: ease-in-out;
    position: absolute;
    color: rgba(255, 255, 255, 0);
    text-align: center;
    width: 100%;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 15px;
    pointer-events: none;
    transition: 0.5s;
    width: 500px;
    height: 281px;
    top: 10%;
    left: 0;
    margin: 0%;
    padding: 0%;
}

.overlay-text button {
    color: inherit;
    padding: 0%;
    margin: 0%;
    border: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 12%;
    pointer-events: all;
    cursor: pointer;
    font: bold 20px 'Roboto', sans-serif;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    bottom: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* transform: translate(-50%, -50%); */
}


/* For mobile devices */
@media (max-aspect-ratio: 1/1) {
    .cell {
        width: 95%;
        margin: 25px; 
        max-width: none;
    }
    .image {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
    }
}

/* For laptops and larger screens */
@media (min-aspect-ratio: 1/1) {
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, 500px);
        justify-content: center;
        grid-auto-flow: row;
        grid-gap: 50px;
    }
    .image {
        width: 500px;
        height: 281px;
    }
}